.contact-us-main {
  background-color: #fff;
  padding: 1rem 0;
  padding-left: 25%;
}

.contact-us-main h1 {
  font-size: 45px;
}

.contact-us-main p {
  font-size: larger;
  font-weight: bold;
}

.contact-us-main input {
  padding: 0.51rem 0.91rem;
  width: 60%;
  border-radius: 5px;
  font-size: medium;
}

.contact-us-main input:hover {
  padding: 0.6rem 1rem;
  border: 2px solid #000;
}

.contact-us-links {
  padding: 1.5rem 0;
}

.contact-us-links-con ul {
  padding-top: 1rem;
}

.contact-us-links-con ul li {
  list-style-type: none;
  padding: 1rem 0rem;
  margin-top: 0.5rem;
  font-size: large;
  /* font-weight: bold; */
  border-top: 1px solid #000;
  margin-left: -2.2rem;
}

.links-con-li {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.icon {
  padding-right: 1rem;
  font-size: large;
}

.links-con-li strong{
    text-decoration: underline;
}
