/* Dark overlay on top & bottom */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 50%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, transparent 50%);
  z-index: 0;
}

.background-img {
  background-image: url("");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  color: white;
}

.logo {
  color: red;
  font-size: 50px;
  padding: 5px;
  margin-left: 140px;
  position: relative;
  z-index: 1;
  width: 2rem;
  height: 1rem;
}

.logo img {
  padding: 1.3rem 0;
}

.header-section {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 11rem;
  gap: 0.5rem;
}

.select-language {
  padding: 6px 30px;
  font-size: 17px;
  align-items: center;
  background: #303030;
  color: white;
  position: relative;
  z-index: 2;
  border-radius: 4px;
  margin-right: 0.5rem;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='white' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.8rem center;
  background-size: 16px;
}

.header-btn {
  padding: 6px 18px;
  font-size: 15px;
  background: #e50914;
  color: white;
  position: relative;
  z-index: 2;
  border-radius: 4px;
  border: none;
}

.header-btn :link{
  color:white;
  text-decoration: none;

}

.hero-contant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100%; */
}

.contant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  position: relative;
  z-index: 10;
}

.contant h1 {
  text-align: center;
  width: 80%;
  font-size: 70px;
  padding-left: 3rem;
  font-weight: 900;
  margin-bottom: 15px;
}

#con-h-p {
  font-size: 24px;
  text-align: center;
  margin: 0.7rem 0;
}

.contant p {
  font-size: large;
  text-align: center;
  margin: 0.7rem 0;
}

.email-form {
  position: relative;
  z-index: 10;
}

.email-form input {
  width: 380px;
  border-radius: 6px;
  padding: 0.9rem 0 0.85rem 1.1rem;
  margin-right: 5px;
  font-size: 16px;
  color: #ffffff;
  background-color: #303030;
}

.email-form button {
  /* width: 100px; */
  border-radius: 6px;
  padding: 0.6rem 1.6rem 0.8rem 1.6rem;
  margin-right: 5px;
  font-size: 22px;
  background-color: #e50914;
  color: #fff;
}

.email-form button:hover {
  background-color: #b20710;
}

.card {
  height: 120vh;
  background-color: #000000;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
}

.swc {
  padding: 30px 0;
}

.card-wrap {
  background: linear-gradient(135deg, #1a0b1f 0%, #0d0a2e 100%);
  border-radius: 1rem;
  padding: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 250px;
  box-shadow: 0 0 20px rgba(255, 0, 128, 0.15);
  margin: 0;
}

.card-img {
  color: white;
  display: flex;
  justify-content: end;
  align-items: end;
  height: 100%;
}

.card-wrap h2 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  color: #fff;
}

.card-wrapper {
  /* box-shadow: 0 0 20px rgba(255, 0, 128, 0.15); */
  color: white;
  /* padding: 1rem; */
  border-radius: 8px;
  width: 290px;
  min-height: 150px;
}

.reason-wrapper {
  display: flex;
  /* flex-wrap: wrap;           Allows children to wrap */
  gap: 1rem; /* Adds spacing between cards */
  justify-content: center; /* Centers the cards */
}
