.container-login {
  color: #ffffff;
}

.container {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/7c9e63f7-5b5d-43a4-a3fb-41917ac25301/web/IN-en-20251013-TRIFECTA-perspective_7bc35267-b383-4fb3-b173-eae32292d42e_large.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.Logo {
  padding: 1.5rem 10.5rem;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-con {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 2rem;
  border-radius: 8px;
}

.l-h1 {
  text-align: start;
  margin-left: 0.4rem;
  font-size: 40px;
}

.inp-e {
  margin: 0.8rem 0;
  display: block;
  padding: 0.9rem;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  border-radius: 4px;
  background-color: #000000;
  color: #b3b3b3;
}

#btn-s,
#btn-us {
  padding: 0.8rem 7rem;
  font-size: large;
  margin: 0.8rem 0;
  border: none;
  background-color: #e50914;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  width: 430px;
}

#btn-s {
  padding: 0.7rem 8.5rem;
}

#btn-us {
  padding: 0.6rem 5.8rem;
}

#btn-s:hover,
#btn-us:hover {
  background-color: #f40612;
}

#for-p {
  font-size: large;
  letter-spacing: 0.1rem;
  text-align: center;
}

.log-p {
  margin-left: -9rem;
}

#inp-pp {
  width: 410px;
}

#input-main {
  margin-left: 4rem;
}

.input-con {
  font-size: large;
  letter-spacing: 0.085rem;
  text-align: start;
  /* padding-left: 2.8rem; */
  display: flex;
  justify-content: start;
  width: 325px;
  margin-left: -3rem;
}

.input-con input {
  margin-right: 1rem;
}

p#inp-pp {
  margin-right: 16px;
  padding-left: 8px;
}

input[type="checkbox"] {
  transform: scale(1.3);
}

.learn-more-link {
  color: #1009e3;
  /* text-decoration: none; */
  display: block;
  margin-top: 0.5rem;
}

.learn-more-link:hover {
  color: #fff;
  text-decoration: underline;
}

/* ===== Footer ===== */
.footer-container {
  text-align: start;
  padding-left: 8.8rem;
  margin: 4rem 2rem;
}

.footer-link ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  padding-top: 1rem;
  text-align: start;
  padding-left: 2.8rem;
  list-style: none;
}

.footer-link a {
  color: #b3b3b3;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-link a:hover {
  color: white;
  text-decoration: underline;
}

.footer-select {
  padding: 1rem 0.8rem;
}

.footer-select select {
  padding: 0.4rem 1.5rem;
  font-size: 16px;
  background-color: #000000;
  color: #ffffff;
}

#wraper {
  text-align: start;
  border: none;
  background-color: #000;
  color: #ffffff;
  outline: none;
  margin-left: -21rem;
  font-size: 15px;
}

.for-link {
  /* margin-left: -3rem; */
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  /* display: none; */
}