.slider-container {
  margin: 3rem 1.5rem;
  color: white;
  padding: 0 8%;
  position: relative;
  z-index: 2;
}

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 1150px; /* show 5 cards at once */
  overflow: hidden; /* hide overflow so only 5 visible */
  margin: auto;
}

.movie-slider {
  display: flex;
  gap: 0.8rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding: 1rem 0;
}

.movie-slider::-webkit-scrollbar {
  display: none; /* hide scrollbar */
}

.movie-card {
  flex: 0 0 auto;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  scroll-snap-align: start;
  position: relative;
  transition: transform 0.3s ease;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-card:hover {
  transform: scale(1.1);
  z-index: 5;
}

.movie-card span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  text-align: center;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  width: 40px;
  height: 80px;
  cursor: pointer;
  z-index: 10;
}

.nav-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

.nav-btn.left {
  left: 0;
}

.nav-btn.right {
  right: 0;
}
