.faq-section {
  background-color: black;
  color: white;
  /* padding: 3rem; */
  /* text-align: center; */
}

.faq-item {
  margin-bottom: 8px;
}

#faq-item-que {
  background-color: #2d2d2d;
  margin: 10px 0;
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  color: white;
  text-align: left;
  font-size: 1.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-answer {
  background-color: #2d2d2d;
  color: white;
  text-align: left;
  padding: 1.5rem;
  border-top: 1px solid #000;
  font-size: 1.2rem;
  /* display: none; */
}

.faq-item.active .faq-answer {
  display: block;
}

.icon {
  font-size: 2rem;
  transition: transform 0.3s ease;
}

.faq-item.active .icon {
  transform: rotate(45deg);
}

.cta-section {
  text-align: center;
  width: 100%;
  padding: 50px 0;
}

.cta-text-wrapper {
  display: ruby-text;
  gap: 1rem;
}

.cta-heading {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  padding-right: 7px;
}

.cta-text {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.cta-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.cta-input {
  padding: 0.95rem 1.9rem;
  background-color: #2d2d2d;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  width: 430px;
}

.cta-btn {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 0.95rem 1.9rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.footer-container {
  /* margin: 1.8rem 0.8rem; */
  padding: 1rem 0;
}

.footer-head {
  /* padding: 1rem 0.8rem; */
  font-size: 18px;
}

.footer-links ul {
  list-style: none; /* remove bullets */
  padding: 1.8rem 0rem;
  margin: 0;
  display: grid; /* enable grid */
  grid-template-columns: repeat(4, 1fr); /* 2 equal-width columns */
  gap: 1rem; /* space between items */
}

.footer-section {
  padding: 1rem 0;
}

.footer-section select {
  background-color: #2d2d2d;
  color: #fff;
  padding: 0.4rem 1.5rem;
  font-size: medium;
  letter-spacing: 1.5px; /* spacing visible here */
}

.footer-text {
  padding: 0.5rem 0;
}

.footer-info {
  padding: 0.5rem 0;
}

.footer-info p span {
  color: rgb(68, 142, 244);
  text-decoration: underline;
}

.footer-info p span button {
  border: none;
  background: #000;
  color: #149de7;
  text-decoration: underline;
  position: relative;
  z-index: 12;
}

.footer-hide {
  font-size: medium;
  margin: -10px 0;
}

.footer-hide p span a {
  color: #fff;
  text-decoration: underline;
  padding: 0 9px;
}
